<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>
</head>

<body>

  <h1>
    <%= kindOfDay %>
  </h1>

  <ul>
    <% for(let i=0; i<newListItems.lenght; i++) { %>
      <li>
        <%= newListItems[i] %>
      </li>
      <% } %>
  </ul>

  <form action="/" method="post">
    <input type="text" id="box" name="newItem" placeholder="New ToDo">
    <button type="submit" name="button">Add</button>
  </form>

  <!-- <% if (kindOfDay==='Saturday' || kindOfDay==='Sunday' ) { %>
    <h1 style='color: #FF9F1C> <%= kindOfDay %> ToDoList</h1>' <% } else { %>
      <h1 style="color: #2EC4B6">
        <%= kindOfDay %> ToDoList
      </h1>
      <% } %> -->
  <!-- <h1>
<%= kindOfDay %> List
</h1> -->



</body>

</html>